{% extends 'base.html' %}

{% block content %}

<div class="container offset-md-1" style="padding-top: 30px;">
    <h1>Career Hitting Statistics</h1>
</div>

<!-- Setting up the form on the page -->
{% include 'stats_form.html' %}


<!-- Setting up the table -->
<div class="col-md-12 table" >
    <table class="table">
        <thead >
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">AB</th>
                <th scope="col">H</th>
                <th scope="col">HR</th>
                <th scope="col">BA</th>
                <th scope="col">R</th>
                <th scope="col">RBI</th>
                <th scope="col">SB</th>
                <th scope="col">OBP</th>
                <th scope="col">SLG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
<!-- This is where the data is passed in to the correct spots -->

                <th scope="row">{% print(data[0]) %}</th>
                <td> {% print(data[1]) %}</td>
                <td> {% print(data[2]) %}</td>
                <td> {% print(data[3]) %}</td>
                <td> {% print(data[4]) %}</td>
                <td> {% print(data[5]) %}</td>
                <td> {% print(data[6]) %}</td>
                <td> {% print(data[7]) %}</td>
                <td> {% print(data[8]) %}</td>
                <td> {% print(data[9]) %}</td>
                <td> {% print(data[10]) %}</td>
                <td> {% print(data[11]) %}</td>
            </tr>
        </tbody>
    </table>
</div>



{% endblock content %}