{% extends 'base.html' %}
{% block content %}


<!-- This is the flash messages -->
{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat,msg in messages %}
            {% if cat == 'auth-success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}


<!-- Top of the page start -->
<header class="row">
    
    <div class="col-md-6" id="header-text">
        <div>
            <h1 id="h1">Baseball Statistics</h1>
        </div>
        <h3 id="h2text">Let us help find your favorite player's stats!</h3>
        <h4>Every year, over 800 baseball players on 30 different teams will take the field.</h4>
        <h5>Whether you want to find the stats on infielders, outfielders, or pitchers.</h5>
        <p>Just Sign Up, and start searching!</p>
        <button class="btn btn-primary col-md-3"><a href="{{ url_for('auth.signup') }}" id="btn-text">Sign Up Here</a></button>
        <button class="btn btn-primary col-md-3"><a href="{{ url_for('auth.signin') }}" id="btn-text">Sign In Here</a></button>
        {% if current_user.is_authenticated %}
        <button class="btn btn-primary col-md-3"><a href="{{ url_for('team.players') }}" id="btn-text">Search Players</a></button>
        {% endif %}
        <div>
            <img src="../../static/images/byu-field.jpeg" alt="byu-field" id="byu">
        </div>
    </div>

    <!-- Image Here -->
    <div class="col-12 col-md-6">
        <img class="header-image" src="../../static/images/Baseball-bat.jpeg">
        <div class="col-md-12" id="byu-text">
            <h2>Over the past couple of decades, statistics have started to become an intregal part of how the game of baseball is played today.</h2>
            <h5>From knowing what pitches a certain batter doesn't hit well, to knowing the percentage of times he hits to the right side of the field, so there can be an infield shift.</h5>
        </div>
    </div>
</header>
<!-- Top of the page end -->


<!-- Start of Middle Section -->
<section class="row" id="middle-section">
    <div class="col-12" id="middle-text">
        <h2>Go to the Player Stats tab at the top of this page once you sign in to find your favorite players</h2>
    </div>
    <div class="col-12 col-md-4" id="middle-text">
        <!-- Player Image -->
        <img src="../../static/images/jose-fernandez.jpeg" alt="Pitcher" id="pitcher-image">
        <h4>Pitchers</h4>
        <h6>Starting Pitcher - SP</h6>
        <h6>Relief Pitcher - RP</h6>
        <h6>Closer - CL</h6>
    </div>
    <div class="col-12 col-md-4" id="middle-text">
        <!-- Player Image -->
        <img src="../../static/images/fernando-tatis.jpeg" alt="Infielder" id="infielder-image">
        <h4>Infielders</h4>
        <h6>First Basemen - 1B</h6>
        <h6>Second Baseman - 2B</h6>
        <h6>Third Baseman - 3B</h6>
        <h6>Shortstop - SS</h6>
    </div>
    <div class="col-12 col-md-4" id="middle-text">
        <!-- Player Image -->
        <img src="../../static/images/mike-trout-1.jpeg" alt="Outfielder" id="outfielder-image">
        <h4>Outfielders</h4>
        <h6>Rightfielder - RF</h6>
        <h6>Centerfielder - CF</h6>
        <h6>Leftfielder - LF</h6>
    </div>
</section>
<!-- End of Middle Section -->


<!-- Footer Start -->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 item text">
                    <h3 style="text-align: center;">Rosenbaum Inc.</h3>
                    <p>We specialize in getting you the most up to date baseball statistics that you can find.</p>
                    <p>Stay tuned, as we will be moving into other sports as well.</p>
                    <p class="copyright">Rosenbaum Inc. © 2018</p>
                </div>
        </div>
    </footer>
</div>
<!-- Footer End -->
{% endblock content %}
